.messages-bgd {
    background-color: rgb(39, 39, 66);
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-x: hidden;
}

.fas fa-fire {
    color: white;
}

.back-to-matches {
    display: flex;
    justify-content: center;
    margin: 2%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
}

.message-avatar {
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
}

.message-body {
    /* overflow-wrap: break-word; */
}

.message-h1 {

    display: flex;
    justify-content: center;
    margin: 0% 20% 0% 20%;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.message-h2 {
 
    border-top: none;
    display: flex;
    justify-content: center;
    margin: 0% 20% 0% 20%;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.chat-message {
    display: flex;
    flex-direction: row;
    padding: 20px 5px 20px 5px;
    margin: 0% 20% 0% 20%;
    /* border-bottom: 1px solid white; */
    margin: 10px 20% 0 20%;
    border-radius: 5px;
    background-color: darkgray;
    border: 2px solid lightgray;
}

.enter-chat-input {
    display: flex;
    justify-content: space-between;

    margin: 0% 20% 0% 20%;

    padding: 20px 0px;
}

.chat-input {
    width: 350px;
}


.chat-message > * {
    width: 50px;
    border-radius: 4px;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.timestamp {
    display: flex;
    justify-content: flex-end;
}






