.messages-bgd {
    background-color: rgb(39, 39, 66);
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-x: hidden;
}

.fas fa-fire {
    color: white;
}

.back-to-matches {
    display: flex;
    justify-content: center;
    margin: 2%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
}


.message-h1 {

    display: flex;
    justify-content: center;
    margin: 0% 20% 0% 20%;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.message-h2 {
 
    border-top: none;
    display: flex;
    justify-content: center;
    margin: 0% 20% 0% 20%;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.chat-message {
    display: flex;

    flex-direction: column;
    padding: 20px 5px 20px 5px;
    margin: 0% 20% 0% 20%;
    border-bottom: 1px solid white;
    
}

.enter-chat-input {
    display: flex;
    justify-content: space-between;

    margin: 0% 20% 0% 20%;

    padding: 20px 0px;
}

.chat-input {
    width: 350px;
}


.chat-message > * {

    width: 50px;
    border-radius: 4px;
    color: white;

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.message-body {
    padding-top: 20px;


}
.message-name {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}



