.nav {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    border: 1px solid lightgray;
    padding: 10px 20px;
    background-color: white;
    box-shadow: 2px 2px 2px black;
    position: sticky;
    top: 0;
}

.navbar-title {
    font-family: 'Kalam', cursive;
    font-size: 20px;
}

.navbar-links {
    /* background-color: pink; */
    width: 120px;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}
