.search-bgd {
    background-color: rgb(39, 39, 66);
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-x: hidden;
}
.search-bar {
    margin: 5%;
    padding-top: 1%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 1%;
    height: 75px;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-family: 'Mukta Vaani', sans-serif;
    font-size: 30px;
    text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
    /* background-image: url("/login-background.jpg"); */
    background-position: 100px 100px;
    background-color: #8380B6;
    border-radius: 5px;
}

.sub-header {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: center;
    font-family: 'Mukta Vaani', sans-serif;
    font-size: 25px;
    border: 2px solid black;
    background-color: grey;
    margin-left: 30%;
    margin-right: 30%;
    border-radius: 5px;
    padding: 20px;
    text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
    background-color: #C2CAE8;
}

.select-label {
    padding-bottom: 10px;
}

.select {
    width: 200px;
}

.search-option-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dog-name {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}


.match-image {
    height: 400px;
    width: 100%;
    object-fit: cover;
}

.dog-attributes-description {
    display: flex;
    justify-content: space-between;
    height: 50px;
}

.dog-attributes-description h1{
    font-weight: 600;
    margin-right: 7px;
}

.dog-profile-description {
    text-align: right;
    width: 60%

}

.dog-desc {
    display: flex;
    margin-top: 15px;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
    text-align: center;
    margin: 10px 20px 10px 20px;
    justify-content: space-between;
}
.dog-search-header {
    margin: 10px;
    display: flex;
    justify-content: center;
    font-size: 25px; 
    font-family: Arial, Helvetica, sans-serif
}

.dog-index {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* flex-flow: wrap row; */
    margin: 20px;
    position: relative;

}

.dog-index-item-sub-container{
    height: 90%;
}

.dog-index-item-container {
    transition: transform .2 ease-in-out;
}

.dog-index-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
    margin: 10px;
    height: auto;
    width: 450px;
    background-color: white;
    box-shadow: 5px 5px 5px black;
    font-family: 'Mukta Vaani', sans-serif;
    border-radius: 5px;


}

.dog-index-item > * {
    padding-top: 2px;
    padding-bottom: 2px;
}

.dog-details > * {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid black;
    padding-top: 20px;
    padding-bottom: 10px;
    margin: 0px 320px 0px 320px;
    letter-spacing: 1.5px;
    font-family: Overpass, sans-serif;

}

.possible-match-buttons {
    display: flex;
    justify-content: space-between;
    width: 70%;
    font-size: 30px;
}
.possible-match-buttons :first-child:hover {
    color: red;
}
.possible-match-buttons :last-child:hover {
    color: rgb(54, 54, 54);
}


