.search-bgd {
    background-color: rgb(39, 39, 66);
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-x: hidden;
}
.search-bar-dog-index-container{
    display: flex;
}
.search-bar {
    margin: 35px 0px 0px 50px;
    padding-top: 1%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 1%;
    height: 475px;
    width: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-family: 'Mukta Vaani', sans-serif;
    font-size: 30px;
    background-position: 100px 100px;
    background-color: rgb(12, 11, 70);
    border-radius: 5px;
    
    margin-right: 350px;
}

.sub-header {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: center;
    font-family: 'Mukta Vaani', sans-serif;
    font-size: 25px;
    border: 2px solid black;
    background-color: grey;
    margin-left: 30%;
    margin-right: 30%;
    border-radius: 5px;
    padding: 20px;
    background-color: #C2CAE8;
    box-shadow: 5px 5px 5px black;

}

.select-label {
    padding: 10px;
    color: silver;
    font-family: 'Mukta Vaani', sans-serif;
    font-weight: 500;
    font-size: 25px
}

.select {
    position: relative;
    font-family: 'Mukta Vaani', sans-serif;
    width: 175px;
    padding: 4px;
}

.search-option-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dog-name {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}


.match-image {
    height: 400px;
    width: 100%;
    object-fit: cover;
}

.dog-attributes-description {
    display: flex;
    justify-content: space-between;
    height: 50px;
}

.dog-attributes-description h1{
    font-weight: 600;
    margin-right: 7px;
}

.dog-profile-description {
    text-align: right;
    width: 60%

}

.dog-desc {
    display: flex;
    margin-top: 15px;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
    text-align: center;
    margin: 10px 20px 10px 20px;
    justify-content: space-between;
}
.dog-search-header {
    margin: 10px;
    display: flex;
    justify-content: center;
    font-size: 25px; 
    font-family: Arial, Helvetica, sans-serif
}

.dog-index {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* flex-flow: wrap row; */
    margin: 20px;
    position: relative;
}

#idv-dog-header {
    width: 100%;
    margin-left: 15px;
}


.dog-index-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
    margin: 10px;
    height: auto;
    width: 450px;
    background-color: white;
    box-shadow: 5px 5px 5px black;
    font-family: 'Mukta Vaani', sans-serif;
    border-radius: 5px;
}

.dog-index-item > * {
    padding-top: 2px;
    padding-bottom: 2px;
}

.dog-details > * {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid black;
    padding-top: 20px;
    padding-bottom: 10px;
    margin: 0px 320px 0px 320px;
    letter-spacing: 1.5px;
    font-family: Overpass, sans-serif;

}

.possible-match-buttons {
    display: flex;
    justify-content: space-between;
    width: 70%;
    font-size: 30px;
}
.possible-match-buttons :first-child:hover {
    color: red;
}
.possible-match-buttons :last-child:hover {
    color: rgb(54, 54, 54);
}
.browse-for-matches-header {
    font-family: 'Mukta Vaani', sans-serif;
    font-weight: 600;
    color: silver;
    padding: 20px 0px 0px 0px;
    margin: 0px 35px 0px 60px;
    font-size: 30px;
}
.pending-matches-link{
    font-family: 'Mukta Vaani', sans-serif;
    font-weight: 600;
    color: silver;
    padding: 20px 0px 0px 0px;
    margin: 0px 35px 0px 60px;
    font-size: 30px;
    border-bottom: 2px solid silver;
}
.possible-matches-header{
    display: flex;
    justify-content: space-between;
}
.sort-by-header{
    font-family: 'Mukta Vaani', sans-serif;
    font-weight: 600;
    color: silver;
    font-size: 25px;
    margin-bottom: 10px;

}