.dog-profile-container-container {
    width: 100%;
    height: 100%;
    background-color: rgb(39, 39, 66);
}
.dogs-profile-container {
    font-family: 'Mukta Vaani', sans-serif;
    font-weight: 300;
    width: 500px;
    /* background-color: rgb(39, 39, 66); */
    margin: 0 auto;
    font-size: 14px;
    padding: 40px 0px;
}
.dogs-profile-container h2 {
    padding: 20px 0px;
    font-size: 24px;
}

.individual-dog {
    width: 100%;
    margin: 0 auto;
    border-radius: 3px;
    background-color: white;
    margin-bottom: 30px;   
}
.individual-dog img {
    width: 100%;
    height: 600px;
}
.dog-description-container {
    width: 100%;
    background-color: white;

    border-radius: 10px;
    margin: 0 auto;
}
.dog-buttons {
    padding: 5px 10px;
}
.dog-description-container li {
    padding: 5px 10px;
}
.dog-description-container ul {
    margin-top: 10px;
}
.individual-dog-header{
    display: flex;
    line-height: 17px;
    padding: 15px;
}
.individual-dog-header .dog-container-name {
    margin-right: 10px;
    font-size: 16px;
    font-weight: 600;
}
.dog-attributes h1{
    font-weight: 600;
    margin-right: 7px;
}
.dog-attributes{
    display: flex;
    justify-content: space-between;
}
.dog-buttons {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}
.first-three-dog-buttons span{
    margin-right: 10px;
}
.first-three-dog-buttons :first-child:hover{
    color: rgb(82, 82, 121);;
}
.first-three-dog-buttons :last-child:hover{
    color: red;
}
.start-matching-button{
    font-family: 'Kalam', cursive;
    font-size: 18px;
}
.start-matching-button:hover {
    color: rgb(82, 82, 121);
}
.pending-matches-title {
    display: flex;
    justify-content: center;
    font-family: 'Kalam', cursive;
    font-size: 22px;
    color: white;
    padding-top: 20px;
}

