.dog-profile-container-container {
    width: 100%;
    height: 100%;
    background-color: rgb(39, 39, 66);
}
.dogs-profile-container {
    font-family: 'Mukta Vaani', sans-serif;
    font-weight: 300;
    width: 80%;
    /* background-color: rgb(39, 39, 66); */
    height: 100%;
    margin: 0 auto;
    font-size: 14px;
    padding: 20px 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-flow: wrap row;
}

.dogurl {
    margin: 0px 15px;
}
.dogbox-imageurl {
    width: 325px;
    height: 325px;
    object-fit: cover;  
}
.individual-dog {
    width: 30%;
    margin: 0 auto;
    border-radius: 3px;
    background-color: white;
    margin-bottom: 30px;
    margin: 0px 0px 20px 20px;   
}
.individual-dog img {
    width: 100%;
    height: 600px;
}
.individual-dog-header img {
    width: 100%;
    height: 600px;
}
.dog-description-container {
    width: 100%;
    background-color: white;

    border-radius: 10px;
    margin: 0 auto;
}
.dog-buttons {
    padding: 5px 10px;
}
.dog-description-container li {
    padding: 5px 10px;
}
.dog-description-container ul {
    margin-top: 10px;
}
.individual-dog-header{
    display: flex;
    line-height: 17px;
    padding: 15px;
}
.individual-dog-header .dog-container-name {
    margin-right: 10px;
    font-size: 16px;
    font-weight: 600;
}
.dog-attributes h1{
    font-weight: 600;
    margin-right: 7px;
}
.dog-attributes{
    display: flex;
    justify-content: space-between;
}
.dog-buttons {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}
.first-three-dog-buttons {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    width: 10%;
}

.first-three-dog-buttons span{
    margin-right: 10px;
}
.first-three-dog-buttons :first-child:hover{
    color: rgb(82, 82, 121);;
}
.first-three-dog-buttons :nth-child(2):hover{
    color: rgb(82, 82, 121);;
}
.first-three-dog-buttons :last-child:hover{
    color: red;
}
.start-matching-button{
    font-family: 'Kalam', cursive;
    font-size: 18px;
    
}
.start-matching-button:hover {
    color: red;
}
.pending-matches-title {
    display: flex;
    justify-content: center;
    font-family: 'Kalam', cursive;
    font-size: 22px;
    color: white;
    padding-top: 20px;
}
.profile-header {
    font-family: 'Mukta Vaani', sans-serif;
    font-weight: 600;
    color: silver;
    padding: 20px 0px 0px 0px;
    margin: 0px 235px 0px 260px;
    font-size: 30px;
    /* border-bottom: 2px solid silver; */
}
.tooltip {
  position: relative;
  display: inline-block;
}
.tooltip .tooltiptext{
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -67px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}
.tooltip .navbartooltiptext{
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -67px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip:hover .navbartooltiptext {
  visibility: visible;
  opacity: 1;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

